# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*$py.class

# Bytecode
*.pyo
*.pyd

# ===========================
# Virtual Environment
# ===========================
.venv/
venv/
env/

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# JetBrains
# ===========================
.idea/

# ===========================
# Test
# ===========================
.pytest_cache/
.coverage
htmlcov/

# ===========================
# Database
# ===========================
*.db
*.sqlite
*.sqlite3

# Nếu muốn giữ database mẫu thì bỏ dòng trên
# và chỉ ignore đúng file phát triển:
# 05_Database/database.db

# ===========================
# Logs
# ===========================
*.log

# ===========================
# OS
# ===========================
Thumbs.db
.DS_Store